/* RESET RULES */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
}

/* DEBUG */
.debug .container{
    border:2px dashed black;
}
.debug .container.logo{
    padding-left: 10px;
    min-height: 40px;
}
.debug .container.login{
    padding-right: 10px;
    min-height: 40px;
}
.debug .headerbg{
    background-color:#add8e6;
}
.debug .navbarbg{
    background-color: #daa520;
}



/* LAYOUT */


/* header */
.header-layout{
    padding: 20px 400px;
}


.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav-menu{
    display: flex;
    min-height: auto;
    align-items: center;
    justify-content: center;
    gap: 10px   ;
    height: 40px;
}


/* splittare in 2 classi in caso di comportamento diverso del logo e del tasto login */
.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.login{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* main */
.main-layout{
    padding: 50px 600px;
}
.column{
    display: flex;

}




/* UTIL */
.nav-25{
    width: 25%;
}
.nav-50{
    width: 50%;
}