/* RESET RULES */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul, ol{
    list-style: none;
}

/* DEBUG */
.debug-nav{
    background-color: rgb(181, 181, 216);
}
.debug-header{
    background-color: rgb(211, 181, 181);
}
.debug-container{
    border:dashed 1px;
}
.debug-colorbg{
    background-color: red;
}
.debug-mainbg{
    background-color:blue ;
}

/* LAYOUT */


/* header */
.header-layout{
    padding: 20px 300px;
}


.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav-menu{
    display: flex;
    min-height: 40px;
    align-items: center;
    justify-content: center;
    gap: 20px   ;
}
.logo{
    display: flex;
    min-height: 40px;
    align-items: center;
    justify-content: center;
}
/* splittare in 2 classi in caso di comportamento diverso del logo e del tasto login */
.nav-side-element{
    display: flex;
    min-height: 40px;
    align-items: center;
    justify-content: center;
}


/* main */
.main-layout{
    padding: 50px 400px;
}
.hero .container{
    min-height: 400px;
}




/* UTIL */
.nav-25{
    width: 25%;
}
.nav-50{
    width: 50%;
}